

.searchbar-input{
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid var(--pure-white);
    width: 12rem;
    height: 1.5rem;
    color: var(--pure-white);
    outline: none;
    caret-color: var(--red);
    margin-left: 0.2rem;
}


