.recommended-section{
    padding: 0 1rem 0 1rem;
}

.gallery-default{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 0.8rem;
    box-sizing: border-box;
}

@media screen and (max-width: 368px) {
    .gallery-default{
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .recommended-section{
        padding: 0 1.56rem 0 1.56rem;
    }
}

@media screen and (min-width: 1440px) {
    .recommended-section{
        padding: 0 2.25rem 0 2.25rem;
    }
}
