.trending-section{
    padding: 0 0 0 1rem;
}

.trending-gallery {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 94vw;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #aaa #f1f1f1;
    border-radius: 10px;
    margin-right: 4rem;
    scroll-behavior: smooth;
    padding: 0 1.5rem 0 0;
}

.trending-gallery::-webkit-scrollbar {
    width: 1rem;
    height: 0.4rem; 
}

.trending-gallery::-webkit-scrollbar-track {
    background-color: var(--dark-blue);
}

.trending-gallery::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px; 
}

.trending-gallery::-webkit-scrollbar-thumb:hover {
    background-color: var(--red);
}

@media screen and (min-width: 768px) {
    .trending-section{
        padding: 0 0 0 1.56rem;
    }
}

@media screen and (min-width: 1440px) {
    .trending-section{
        padding: 0 0 0 2.25rem;
    }
}
